/* .page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cover{
    background-color: rgba(89, 136, 175, 0);
    width: 35em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 0.115em rgb(54, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input{
    border: none;
    background-color: rgba(132, 136, 136, 0.637);
    height: 1em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 1em;
}

input:focus{
    outline-color: rgb(8, 8, 8);
}

.Register{
    width: 40%;
    height: 3em;
    background-color: rgb(30, 140, 220);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.Register:hover{
    transform: scale(1.05);
} */

/* .App {
    text-align: center;
    background-color:green;
    }
    
    .label{
    display: block;
    font-size: larger;
    color: white;
    padding: 5px;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    
    }
    .btn{
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
     */
/* .body{
    background: #bdc3c7;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  */
     /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2c3e50, #bdc3c7); */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* }

 .form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    height: 600px;
} 

.form-body{
    text-align: left;
    padding: 20px 10px;
} 

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
} 




 */



 .app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  input[type="text"],
  input[type="password"]
 {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: fit-content;
  }

  input[type="email"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: fit-content;
  }

  input[type="number"]{
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: fit-content;
  }


  
  input[type="submit"] {
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 10px;
    height: fit-content;
  }
  
  
  input[type="submit"]:hover {
    background: #5d9404;
    height: 45px;
  }

  .login{
    display: block;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    width: 245px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 10px;
    height: fit-content;
  }

  .login:hover {
    background: #5d9404;
    height: 45px;
  }
  
  .reg{
    display: block;
    justify-content: center;
    margin-top: 0px;
    margin-left: 30px;
    width: 245px;
    cursor: pointer;
    font-size: 15px;
    background: #928c18bc;
    border: 1px solid #01d28cb3;
    color: #fff;
    padding: 10px 10px;
    height: fit-content;
  }

  .reg:hover {
    background: #7d8616;
    height: 45px;
  }

  .button-container {
    display: block;
    justify-content: center;
  }
  .input-container{
    display: solid;
    justify-content: center;
    width: fit-content ;
    padding: 16px;
  }
  
  .form {
    background-color: white;
    padding-left: 7rem;
    padding-right: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }